<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>
<div th:replace="fragments :: pageHeader"></div>

<p th:text="${errorMsg}" style="color:red"></p>

<h2 class="d-flex justify-content-center">Create Itinerary Item</h2>

<form method="post">
    <div class="d-flex justify-content-center">
        <label>Itinerary item
            <input th:field="${itineraryItem.name}">
<!--                        <input type="text" name="name">-->
        </label>
        <p class="alert alert-warning" th:errors="${itineraryItem.name}"></p>
    </div>

    <div class="d-flex justify-content-center">
        <label>Description
            <input type="string" th:field="${itineraryItem.description}">
        </label>
        <p class="alert alert-warning" th:errors="${itineraryItem.description}"></p>
    </div>

    <div class="d-flex justify-content-center">
        <label>Start Date
            <input type="date" th:field="${itineraryItem.startDate}">
        </label>
        <p class="alert alert-warning" th:errors="${itineraryItem.startDate}"></p>
    </div>

    <div class="d-flex justify-content-center">
        <label>Start Time
            <input type="text" th:field="${itineraryItem.startTime}">
        </label>
        <p class="alert alert-warning" th:errors="${itineraryItem.startTime}"></p>
    </div>

    <div class="d-flex justify-content-center">
        <label>End Date
            <input type="date" th:field="${itineraryItem.endDate}">
        </label>
        <p class="alert alert-warning" th:errors="${itineraryItem.endDate}"></p>
    </div>

    <div class="d-flex justify-content-center">
        <label>End Time
            <input type="text" th:field="${itineraryItem.endTime}">
        </label>
        <p class="alert alert-warning" th:errors="${itineraryItem.endTime}"></p>
    </div>

    <div class="d-flex justify-content-center">
        <label>Category
        <select th:field="${itineraryItem.itineraryCategory}">
            <option th:each="itineraryCategory : ${categories}"
                    th:value="${itineraryCategory.id}"
                    th:text="${itineraryCategory.name}"
            ></option>
<!--            <input type="text" th:field="${itineraryItem.type}">-->
        </select>
        </label>
        <p class="alert alert-warning" th:errors="${itineraryItem.itineraryCategory}"></p>
    </div>

    <div class="d-flex justify-content-center">
        <label>Who's going with you?
            <input type="text" th:field="${itineraryItem.companions}">
        </label>
    </div>

    <div class="d-flex justify-content-center">
        <label>Address
            <input type="text" th:field="${itineraryItem.address}">
        </label>
        <p class="alert alert-warning" th:errors="${itineraryItem.address}"></p>
    </div>

    <div class="d-flex justify-content-center">
        <label>Latitude
            <input type="text" th:field="${itineraryItem.latitude}">
        </label>
    </div>

    <div class="d-flex justify-content-center">
        <label>Longitude
            <input type="text" th:field="${itineraryItem.longitude}">
        </label>
    </div>




    <div class="d-flex justify-content-center">
        <input type="submit" value="Create Itinerary Item" class="btn btn-success">
    </div>

</form>


</body>
</html>
