<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

<div th:replace="fragments :: pageHeader"></div>


<p><a href="/itineraries/create">Add a new itinerary item</a></p>

<h3>Itinerary</h3>
<p>This page will show a table of the itinerary items</p>
<p th:unless="${itineraryItems} and ${itineraryItems.size()}">You haven't yet entered any itinerary items!</p>

<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Start date</th>
        <th>Start time</th>
        <th>End date</th>
        <th>End time</th>
        <th>Type</th>
        <th>Companions</th>
        <th>Address</th>
        <th>Latitude</th>
        <th>Longitude</th>
    </tr>
    </thead>

    <tr th:each="item : ${itineraryItems}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.name}"></td>
        <td th:text="${item.description}"></td>
        <td th:text="${item.startDate}"></td>
        <td th:text="${item.startTime}"></td>
        <td th:text="${item.endDate}"></td>
        <td th:text="${item.endTime}"></td>
        <td th:text="${item.type}"></td>
        <td th:text="${item.companions}"></td>
        <td th:text="${item.address}"></td>
        <td th:text="${item.latitude}"></td>
        <td th:text="${item.longitude}"></td>
    </tr>
</table>


<p><a href="/itineraries/create">Create a new itinerary item.</a></p>
</body>
</html>