<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>All Trips</title>
</head>
<body>
<h1>All Trips</h1>

<p>Each trip will be hyperlinked and taken to an itinerary page. the path will be like trips/italy</p>
<p th:unless="${trips} and ${trips.size()}">You haven't yet entered any trips!</p>
<p><a href="/trips/create">Create new trip here</a></p>
<ul>
    <th:block th:each="trip : ${trips}">
        <li th:text="${trip}"></li>
    </th:block>
</ul>
</body>
</html>