<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: pageHeader"></head>

<body>

<!--<h1 th:replace="fragments :: mainTitle"></h1>-->

<h2>All Trips</h2>
<p>Each trip will be hyperlinked and taken to an itinerary page. the path will be like trips/italy</p>
<p th:unless="${trips} and ${trips.size()}">You haven't yet entered any trips!</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Dates</th>
            <th>Trip Description</th>
            <th>Companions</th>
            <th>Link</th>
        </tr>
    </thead>

    <tr th:each="trip :${trips}">
        <td th:text="${trip.id}"></td>
        <td>
            <a th:href=@{'/itineraries/'} th:text="${trip.name}"></a>
        </td>
        <td th:text="${trip.description}"></td>
    </tr>
</table>

<!--<ul>-->
<!--    <li th:each="trip : ${trips}">-->
<!--        <a th:href=@{'/itineraries/'} th:text="${trip.name}"></a>-->
<!--    </li>-->

<!--</ul>-->


<p><a href="/trips/create">Create new trip here</a></p>

</body>
</html>