<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:fragment="head">
<!--    <meta charset="UTF-8"/>-->

    <script th:src="@{/script.js}"></script>
    <link th:href="@{/styles.css}" rel="stylesheet">
<!--    <title>Destination Unknown: A Travel Planning Tool</title>-->
<!--    <h3>Where will you go next?</h3>-->

</head>
<body>
<div>

<div th:fragment = "pageHeader">
    <h1>Destination Unknown: A Travel Planning Tool</h1>
    <h3>Where will you go next?</h3>
</div>

<nav th:fragment="navigation">
    <ul>
        <li><a href="/trips">My Trips</a></li>
        <li><a href="/trips/create">Create new trip</a></li>
    </ul>
</nav>

<nav th:fragment="login">
    <ul>
        <li><a href>Login</a></li>
        <li><a href>Sign up</a></li>
    </ul>
</nav>


<nav th:fragment="footer">
    <p>Made by BC</p>
</nav>
</div>
</body>


</html>