<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:fragment="head">

    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/techjobs.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    //title here
    <title>Travel Planner</title>

</head>

<body>

<h1 th:fragment = "mainTitle">Destination Unknown: A Travel Planning Tool</h1>

<nav th:fragment="navigation">
    <ul>
        <li><a href="/trips">My Trips</a></li>
        <li><a href="/trips/create">Create new trip</a></li>
    </ul>
</nav>

<nav th:fragment="login">
    <ul>
        <li><a href>Login</a></li>
        <li><a href>Sign up</a></li>
    </ul>
</nav>


<nav th:fragment="footer">
    <p>Made by BC</p>
</nav>

</body>


</html>