<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Destination Unknown</title>
</head>
<body>
    <h1>Destination Unknown</h1>
    <p>This will be the welcome page. A header at the top will have a log in link.
    These links currently don't map to anything.</p>
    <p><a href>Login<a></a></p>
    <p><a href>Sign up<a href></p>

    <nav>
        <ul>
            <li><a href="/trips">My Trips</a></li>
            <li><a href="/create">Create new trip</a></li>
        </ul>
    </nav>
</body>
</html>